/* body CSS */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: 100% auto;
}

body {
  margin: 0 auto;
  background-image: url('./rock-stack.jpg');
  background-size: cover;
  background-repeat: no-repeat;  
}

h1,
h2 {
  color: #fcfcfc;
  text-shadow: 1px 1px 2px black;
  text-align:center;
}


/* User bookmark CSS */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px dotted #4A5859;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

li {
  border: 1px solid #4A5859;
  margin: 0.5em;
  padding: 0.5em;
  background-color:rgb(255, 255, 255, .7);
}


/* Form CSS */

textarea,
select,
option,
input,
button {
  border-radius: 25px;
  padding: 0.1rem 0.5rem;
  font-size: 1rem;
  color: inherit;
  margin: 15px;
}

button {
  background-color: #D3E7F8;
}

select {
  font-family: FontAwesome, sans-serif;
  height: 2em;
  width: 3.5em;
}

select option {
  font-size: 1.2em;
  color: #000000;
  background-color: #d5e0ff99;
}

.form-box {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  color: black;  
  background-color: rgb(255, 255, 255, .75);  
}

button,
input[type="text"] {
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

span {
  padding-bottom: 25px;
}


/* Book mark CSS */

a {
  color: #065B32;  
}

#bookmark-item {
  width: 250px;
}

.bookmarked-pages {
  padding-bottom: 25px;      
  color: black;
}

.bookmarked-star-rating {
  color: rgb(189 172 20);
}

.description-container {
  color: black;  
}

.errorContainer {
  color: red;
  font-size: 2em;
}

#cancel-error {
  margin-right: 10px;
}


/* For screens with a wider view */
@media (min-width:600px) {
  
  h1 {
    text-align:center;
  }
  
  .bookmark-container {
    max-width: 750px;
    margin:auto;
  }
  
  .form-box {
    max-width:750px;
    margin:auto;
  }

}

